
@model Data.ViewModels.DataRESVM.FilterVm
@{

}

<form asp-action="Index" asp-controller="RealES">
    <div class="advance__search--filter">

        <div class="tab-content" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="200">
            <div class="tab-pane fade show active" id="buy">
                <div class="advance__search--inner d-flex">
                    <div class="advance__search--items">
                        <input class="advance__search--input" asp-for="Estate" placeholder="Enter Keyword..." type="text">
                    </div>
                    <div class="advance__search--items">
                        <select class="advance__search--select">
                            <option selected value="1">Property Type</option>
                            @foreach (var i in @Model.CategoriesList)
                            {
                                <option value="@i.Value">@i.Text</option>
                               
                            }  
                        </select>
                    </div>
                    <div class="advance__search--items  position-relative">
                        <div class="advance__search--items">
                            <select class="advance__search--select">
                                <option selected value="1">Property Type</option>
                                @foreach (var i in @Model.CountryList)
                                {
                                    <option value="@i.Value">@i.Text</option>
                               
                                }  
                            </select>
                        </div>
                        <span class="advance__location--icon">
                            <svg width="11" height="17" viewBox="0 0 11 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5.48287 0C2.45013 0 0 2.4501 0 5.48288C0 5.85982 0.0343013 6.21958 0.102785 6.57945C0.514031 9.69783 4.42055 11.9767 5.51712 16.4144C6.5966 12.0452 11 8.824 11 5.48288H10.9657C10.9657 2.45013 8.51548 0 5.48282 0H5.48287ZM5.48287 2.17592C7.21338 2.17592 8.61839 3.58097 8.61839 5.31144C8.61839 7.04191 7.21335 8.44696 5.48287 8.44696C3.7524 8.44696 2.34736 7.04191 2.34736 5.31144C2.34736 3.58097 3.75228 2.17592 5.48287 2.17592Z" fill="#8B8B8B" />
                            </svg>
                        </span>
                    </div>
                   
                    <button class="advance__search--btn solid__btn">
                        Search Now <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.60519 0C2.96319 0 0 2.96338 0 6.60562C0 10.2481 2.96319 13.2112 6.60519 13.2112C10.2474 13.2112 13.2104 10.2481 13.2104 6.60562C13.2104 2.96338 10.2474 0 6.60519 0ZM6.60519 11.9918C3.6355 11.9918 1.21942 9.57553 1.21942 6.60565C1.21942 3.63576 3.6355 1.2195 6.60519 1.2195C9.57487 1.2195 11.991 3.63573 11.991 6.60562C11.991 9.5755 9.57487 11.9918 6.60519 11.9918Z" fill="white" />
                            <path d="M14.8206 13.9597L11.325 10.4638C11.0868 10.2256 10.701 10.2256 10.4628 10.4638C10.2246 10.7018 10.2246 11.088 10.4628 11.326L13.9585 14.8219C14.0776 14.941 14.2335 15.0006 14.3896 15.0006C14.5454 15.0006 14.7015 14.941 14.8206 14.8219C15.0588 14.5839 15.0588 14.1977 14.8206 13.9597Z" fill="white" />
                        </svg>
                    </button>
                </div>
            </div>

        </div>

    </div>
</form>